<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/commons :: head"></head>
<body>

<header th:replace="fragments/commons :: navigation"></header>

<main class="p-5 align-content-center bg-blur">
    <div class="d-flex justify-content-center">
        <div style="font-size:72px; color: white" >Добре дошли в<br></div>
    </div>
    <div class="d-flex justify-content-center">
        <div style="font-size:72px; color: white">Inventory App!</div>
    </div>
</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>
